/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body{font-family: 'Lato', sans-serif;}
a:hover, a:focus{outline: none; border: none; text-decoration: none;}
.slicknav_menu{display: none}
img{max-width: 100%; height: auto}
.fix{overflow: hidden}
.floatleft{float: left}
.floatright{float:right}

.header_area {}
.main {margin: 0 auto; width: 960px;}
.logo {margin-top: 40px; margin-bottom: 20px}
.header_right{font-size: 14px; margin-top: 38px}
.header_right span{font-weight: 300; font-style: italic}
.header_right p{margin-bottom: 0}
.search_box {font-size: 10px; border: 1px solid #ddd; margin-top: 2px}
.search_box form input[type=text]{border: none; padding: 5px}
.search_box form input[type="submit"] {
	background: url(img/submit_arrow.png) no-repeat scroll 0 0;
	border: none;
	text-indent: -9999px;
	width: 16px;
	height: 12px;
	margin: 6px 8px;
}
.mainmenu_area {background: #81ab02; min-height: 58px}
.mainmenu{}
.mainmenu ul#nav{margin: 0; padding: 15px; list-style: none;}
.mainmenu ul#nav li{float: left; position: relative; border-right: 1px solid #6f9d09; border-left: 1px solid #b7ce84}
.mainmenu ul#nav li:first-child{border-left: none}
.mainmenu ul#nav li:last-child{border-right: none}
.mainmenu ul#nav li a{font-family: 'Roboto Condensed', sans-serif; font-size: 18px; color: #fff; display: inline-block; padding: 0 10px; text-transform: uppercase;}
.mainmenu ul#nav li a:hover{}
.mainmenu ul#nav li ul{position: absolute; left: -9999px; top: 26px; background: #81ab02; width: 250px; margin: 0; padding: 0; list-style: none; padding-top: 14px}
.mainmenu ul#nav li:hover ul{left: 0;}
.mainmenu ul#nav li ul li{float: none; border: none}
.mainmenu ul#nav li ul li a {
	display: block;
	text-transform: none;
	font-size: 14px;
	font-weight: 400;
	padding: 10px;
	border-bottom: 1px solid #96b552;
}
.mainmenu ul#nav li ul li a:hover{background: #96b552}
.slider_area img {width: 100%}
.maincontent_area {}
.maincontent {}
.services {margin-top: 60px; margin-bottom: 80px}
.page_title {
	text-align: center;
	position: relative;
	font-size: 16px;
	font-weight: 300;
	padding: 0 70px;
	padding-bottom: 20px;
	margin-bottom: 35px;
}
.page_title::after {
	background: #81ab02;
	width: 85px;
	height: 1px;
	position: absolute;
	content: "";
	bottom: 0;
	left: 50%;
	margin-left: -42.5px;
}
.page_title h1, .content_bottom h1{font-size: 40px; font-family: 'Roboto Condensed', sans-serif; font-weight: 300}
.service_list {margin-left: -20px}
.single_service {margin-left: 20px; width: 225px}
.single_service img {
	width: 100%;
}
.single_service h3 {
	border: 1px solid #ddd;
	color: #747474;
	text-align: center;
	font-size: 14px;
	margin: 0;
	padding: 10px;
}
.what_weprove_area {background: #fbfbfb}
.what_weprove {}
.prove_list {margin-left: -20px}
.single_rprove {
	margin-left: 20px;
	width: 225px;
	margin-bottom: 30px;
	text-align: center;
}
.prove_icon {
	height: 78px;
	width: 78px;
	border: 1px solid #91b523;
	border-radius: 500px;
	text-align: center;
	padding-top: 20px;
	display: inline-block;
	margin-bottom: 30px;
}
.single_rprove h2{font-size: 24px; font-family: 'Roboto Condensed', sans-serif; color: #81ab02}
.learn_more {color: #fff; background: #81ab02; display: inline-block; padding: 6px 15px; margin-bottom: 35px; border-radius: 5px;}
.learn_more:hover {color: #fff; background: #96b552}
.content_bottom_area {background: url(img/footer_top_bg.jpg) no-repeat scroll center center; background-size: cover; padding-top: 105px; padding-bottom: 40px; text-align: center}
.content_bottom {}
.client_crousel {}
.single_client {}
.testimonials_area {}
.testimonial {}
.testimonial_list {position: relative; margin-top: 50px; margin-bottom: 65px}
.testimonial_list:before {position: absolute; content: ""; width: 53px; height: 35px; background: url(img/quote_left.png); top: 115px; left: 0}
.testimonial_list:after {position: absolute; content: ""; width: 53px; height: 35px; background: url(img/quote_right.png); bottom: 30px; right: 0}
.single_testimonial {text-align: center; font-size: 16px; font-weight: 300; font-style: italic; padding: 0 90px}
.single_testimonial img{border: 1px solid #91b523; border-radius: 500px; margin-bottom: 25px}
.single_testimonial h3{text-align: right; font-size: 16px; font-weight:400; color: #000; text-transform: uppercase}
.footer_top_area {background: #363839; color: #fff; padding-top: 50px; padding-bottom: 35px}
.footer_top {}
.footer_top_widgets {margin-left: -35px; font-size: 12px; font-weight: 300}
.single_footer {margin-left: 35px; width: 213px}
.single_footer h2 {font-size: 20px; font-family: 'Roboto Condensed', sans-serif; font-weight: bold; text-transform: uppercase}
.single_footer p {}
.single_footer a {color: #fff}
.footer_post_list {}
.single_footer_post {overflow: hidden; margin-bottom: 20px}
.single_footer_post img{float: left; margin-right: 15px}
.single_footer_post p{}
.single_footer_post p span{display: block; color: #bbbbbb; font-size: 10px}
.social_bookmark {}
.social_bookmark a {
	display: inline-block;
	border: 1px solid #596e1f;
	color: #fff;
	width: 31px;
	height: 31px;
	margin-right: 5px;
	text-align: center;
	font-size: 18px;
	padding-top: 2px;
}
.social_bookmark a:hover{background: #81ab02; border-color: #b9c78c}
.footer_area {background: #282a2b; border-top: 1px solid #4b4c4d}
.footer {}
.footer_left {font-family: 'Roboto Condensed', sans-serif; color: #a2a2a2; margin-top: 22px}
.footer_left a {color: #81ab02; text-transform: uppercase}
.footer_right {}
.footer_right ul {margin: 0; padding: 0; list-style: none; text-align: right}
.footer_right ul li {display: inline-block}
.footer_right ul li a {
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	padding: 25px 0;
	margin-left: 20px;
}





